<div class="jumbotron">
    <h1 class="text-center">
        {{'texto.corretoras'|translate}}
    </h1>
</div>

<div>
    <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
    <a ng-href="#corretora" class="btn btn-primary">{{'texto.novo'|translate}}</a>
    <p>{{'texto.quantidade'|translate}}: {{corretoras.length}}</p>
    <input type="search" placeholder="{{'texto.buscar'|translate}}" ng-model="filtro">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>{{'texto.nome'|translate}}</th>
                <th>{{'texto.cnpj'|translate}}</th>
                <th>{{'texto.sigla'|translate}}</th>
                <th>{{'texto.vigente'|translate}}</th>
            </tr>
            <tr ng-repeat="corretora in corretoras | filter: filtro">
                <td><a ng-href="#/corretora/{{corretora.cd_corretora}}">{{corretora.nome}}</a></td>
                <td>{{corretora.cnpj | brCnpj}} </td>
                <td>{{corretora.sigla | translate}}  </td>
                <td>
                    <toggle-switch ng-model="corretora.vigente" class="switch-success" on-label="Sim" off-label="Não"  on-change="alterarVigencia(corretora.indice)">
                    </toggle-switch>
                </td>
            </tr>
        </table>
    </div>
</div>

