<div class="table-responsive" ng-controller="JogadaController">
    <modal title="{{'texto.historicoJogadas'|translate}}" visible="exibirModal">
        <div class="list-group">
            <span class="list-group-item" ng-repeat="jogada in jogadas">
                    <b>{{jogada.criacao | date:'dd/MM/yyyy HH:mm:ss'}}</b> -
                    {{jogada.jogador_ataque_nome}} <span class="guerra guerra-armas fonte8"></span> {{jogada.jogador_defesa_nome}}<br/>
                    {{jogada.territorio_ataque_nome | translate}}({{jogada.exercito_ataque}})
                    <!--<i class="glyphicon glyphicon-circle-arrow-right"></i>-->
                    <span class="guerra guerra-tanque1 fonte8"></span>
                    {{jogada.territorio_defesa_nome | translate}}({{jogada.exercito_defesa}})
                    <i class="guerra guerra-dado fonte10" style="top:4px;"></i>
                    <span ng-repeat="valor in jogada.dados_ataque track by $index">{{valor}}{{$last ? '' : ', '}}</span> X
                    <span ng-repeat="valor in jogada.dados_defesa track by $index">{{valor}}{{$last ? '' : ', '}}</span>
            </span>
        </div>
    </modal>
</div>