<div ng-init="init()">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <legend class="text-muted text-center">{{'texto.meusJogos'|translate}} <span class="badge btn-primary">{{jogos.length}}</span></legend>
            <!--<div class="table-responsive">-->
            <div class="list-group">
                <a ng-href="#/tabuleiro/{{jogo.id}}" class="list-group-item" ng-repeat="jogo in jogos">
                    <span class="badge">{{jogo.quantidade_jogadores}}</span>{{jogo.nome}}
                </a>
            </div>
        <!--</div>-->
    </div>
</div>