<div class="jumbotron">
    <h1 class="text-center">
        {{'texto.tiposNegocio'|translate}}
    </h1>
</div>

<div>
    <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
    <a ng-href="#tipoNegocio" class="btn btn-primary">{{'texto.novo'|translate}}</a>
    <p>{{'texto.quantidade'|translate}}: {{tiposNegocio.length}}</p>
    <input type="search" placeholder="{{'texto.buscar'|translate}}" ng-model="filtro">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>{{'texto.descricao'|translate}}</th>
                <th>{{'texto.natureza'|translate}}</th>
                <th>{{'texto.sigla'|translate}}</th>
                <th>{{'texto.vigente'|translate}}</th>
            </tr>
            <tr ng-repeat="tipoNegocio in tiposNegocio | filter: filtro">
                <td><a ng-href="#/tipoNegocio/{{tipoNegocio.cd_tipo_negocio}}">{{tipoNegocio.descricao}}</a></td>
                <td>{{tipoNegocio.natureza }} </td>
                <td>{{tipoNegocio.sigla }}  </td>
                <td>
                    <toggle-switch ng-model="tipoNegocio.vigente" class="switch-success" on-label="Sim" off-label="Não"  on-change="alterarVigencia(tipoNegocio.indice)">
                    </toggle-switch>
                </td>
            </tr>
        </table>
    </div>
</div>

