<h1 class="text-center"> {{'texto.tipoNegocio'|translate}}</h1>
<form name="form" ng-submit="salvar()">
    <div class="container">
        <div class="form-group">
            <label for="nome"> {{'texto.descricao'|translate}}:</label>
            <input type="text" class="form-control" id="nome" name="nome" required ng-model="tipoNegocio.descricao" maxlength="60">
        </div>

        <div class="form-group">
            <label for="sigla"> {{'texto.sigla'|translate}}:</label>
            <input type="text" class="form-control" id="sigla" name="sigla" required ng-model="tipoNegocio.sigla" maxlength="7">
        </div>
        <div class="form-group">
            <label for="natureza"> {{'texto.natureza'|translate}}:</label>
            <input type="text" class="form-control" id="natureza" name="natureza" required ng-model="tipoNegocio.natureza"   >
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">{{'texto.salvar'|translate}}</button>
        <a href="#tiposNegocio" class="btn btn-default">{{'texto.voltar'|translate}}</a>
    </div>
</form>