@import "scss/_normalize";
@import "scss/_app";
@import "components/Global/_SideNav";
//@import "./../assets/css/font-awesome/scss/font-awesome";
@import "../../node_modules/font-awesome/scss/font-awesome";