<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding-bottom:12px;padding-top:13px;"><h3 title="{{'idiomas.nome'|translate}}" class="{{getBandeira()}} icone-sem-margem"></h3> <span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><h2 class="flag-icon flag-icon-um selecionavel" ng-click="setLocale('en')" title="{{'idiomas.en'|translate}}"></h2></li>
        <!--<li><h2 class="flag-icon flag-icon-es selecionavel" ng-click="setLocale('es')"title="{{'idiomas.es'|translate}}"></h2></li>-->
        <li><h2 class="flag-icon flag-icon-br selecionavel" ng-click="setLocale('pt')" title="{{'idiomas.pt'|translate}}"></h2></li>
    </ul>
</li>