<div class="container" ng-controller="AutenticacaoController" ng-init="init()">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <legend class="text-muted text-center"></legend>
            <form ng-submit="logar()">
                <div class="form-group">
                    <label class="control-label" for="email">{{'texto.email'|translate}}:</label>
                    <input class="form-control" id="email" name="email" type="email" ng-model="email" required autofocus placeholder="{{'texto.email'|translate}}">
                </div>
                <div class="form-group ">
                    <label class="control-label" for="password">{{'texto.senha'|translate}}:</label>
                    <input autocomplete="off" class="form-control" id="password" name="password" type="password" ng-model="senha1" required placeholder="{{'texto.senha'|translate}}">
                </div>
                <div class="controls">
                    <button type="submit" class="btn btn-block btn-primary">
                        {{'texto.entrar'|translate}}
                    </button>
                </div>
                <div class="form-group">
                    <div class="btn-group btn-group-justified form-control-static">
                        <a class="btn btn-link btn-xs ellipsis" href="#cadastro-solicitar-token">{{'texto.esqueceu'|translate}}</a>
                        <a class="btn btn-link btn-xs ellipsis" ng-click="navegarCadastro()">{{'texto.inscrever'|translate}}</a>
                    </div>
                </div>
            </form>
            <!--
            <legend class="text-muted text-center">ou</legend>
            <div class="text-center">
                <a class="btn btn-lg btn-social-icon btn-github" href="/auth/github" title="Entrar com GitHub" rel="nofollow">
                    <span class="fa fa-github"></span>
                </a>
               <a class="btn btn-lg btn-social-icon btn-google" href="www.google.com" title="Entrar com Google" rel="nofollow">
                    <span class="fa fa-google"></span>
               </a>
                <a class="btn btn-lg btn-social-icon btn-facebook" href="www.google.com" title="Entrar com Facebook" rel="nofollow">
                    <span class="fa fa-facebook"></span>
                </a>
                <a class="btn btn-lg btn-social-icon btn-twitter" href="www.google.com" title="Entrar com Twitter" rel="nofollow">
                    <span class="fa fa-twitter"></span>
                </a>
                <a class="btn btn-lg btn-social-icon btn-bitbucket" href="/auth/bitbucket" title="Entrar com Bitbucket" rel="nofollow">
                    <span class="fa fa-bitbucket"></span>
                </a>
            </div>
            <br>
            <legend class="text-muted text-center"></legend>
            -->
        </div>
    </div>
</div>


