<div data-ng-controller="GuerraIconsController as vm">
    <h1></h1>
    <legend class="text-muted text-center">Icones de guerra <span class="badge btn-primary">{{vm.icones.length}}</span></legend>
    <div class="container">
        <div class="input-com-filtro">
            <input type="search" autofocus class="form-control" placeholder="Buscar icone" ng-model="filtro" ng-show="vm.icones.length">
            <span id="limpaFiltro" class="glyphicon glyphicon-remove-circle" ng-click="filtro = ''"></span>
        </div>
        <ul class="list-inline lista-icones-guerra">
            <li ng-repeat="item in vm.icones | filter: filtro">
                <span class="guerra {{item}}" aria-hidden="true"></span>
                <label class="glyphicon-class">guerra <br> {{item}}</label>
            </li>

        </ul>
    </div>
</div>
