<div class="jumbotron">
    <h1 class="text-center">
        {{'texto.papeis'|translate}}
    </h1>
</div>

<div>
    <p ng-show="mensagem.texto">{{mensagem.texto}}</p>
    <a ng-href="#papel" class="btn btn-primary">{{'texto.novo'|translate}}</a>
    <p>{{'texto.quantidade'|translate}}: {{papeis.length}}</p>
    <input type="search" placeholder="{{'texto.buscar'|translate}}" ng-model="filtro">
    <div class="table-responsive">
        <table class="table table-hover">
            <tr>
                <th>{{'texto.nome'|translate}}</th>
                <th>{{'texto.cnpj'|translate}}</th>
                <th>{{'texto.sigla'|translate}}</th>
                <th>{{'texto.tipo'|translate}}</th>
                <th>{{'texto.lotePadrao'|translate}}</th>
                <th>{{'texto.vigente'|translate}}</th>
            </tr>
            <tr ng-repeat="papel in papeis | filter: filtro">
                <td><a ng-href="#/papel/{{papel.cd_papel}}">{{papel.nome}}</a></td>
                <td>{{papel.cnpj | brCnpj}}</td>
                <td>{{papel.sigla }}</td>
                <td>{{papel.tiposPapel.descricao }}</td>
                <td>{{papel.lote_padrao }}</td>
                <td>
                    <toggle-switch ng-model="papel.vigente" class="switch-success" on-label="Sim" off-label="Não"  on-change="alterarVigencia(papel.indice)">
                    </toggle-switch>
                </td>
            </tr>
        </table>
    </div>
</div>

