<h1 class="text-center"> {{'texto.papel'|translate}}</h1>
<form name="form" ng-submit="salvar()">
    <div class="container">
        <div class="form-group">
            <label for="nome"> {{'texto.nome'|translate}}:</label>
            <input type="text" class="form-control" id="nome" name="nome" required ng-model="papel.nome" maxlength="60">
        </div>

        <div class="form-group">
            <label for="sigla"> {{'texto.sigla'|translate}}:</label>
            <input type="text" class="form-control" id="sigla" name="sigla" required ng-model="papel.sigla" maxlength="7">
        </div>
        <div class="form-group">
            <label for="cnpj"> {{'texto.cnpj'|translate}}:</label>
            {{corretora.cnpj}}
            <input type="text" class="form-control" id="cnpj" name="cnpj" required ng-model="papel.cnpj" ui-br-cnpj-mask  >
            <div class="texto-erro" ng-show="!papel.cnpj && form.cnpj.$dirty">Cnpj {{'aviso.invalido'|translate}}</div>
        </div>
        <div class="form-group">
            <label for="tipoPapel">{{'texto.tipoPapel'|translate}}:</label>
            <select id="tipoPapel" class="form-control" required ng-model="papel.cd_tipo_papel" ng-options="tipoPapel.cd_tipo_papel as tipoPapel.descricao for tipoPapel in tiposPapel">
                <option value="">-- {{'texto.selecione'|translate}}--</option>
            </select>
        </div>
        <div class="form-group">
            <label for="lotePadrao"> {{'texto.lotePadrao'|translate}}:</label>
            <input type="numer" class="form-control" id="lotePadrao" name="lotePadrao" required ng-model="papel.lote_padrao" maxlength="4" >
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">{{'texto.salvar'|translate}}</button>
        <a href="#papeis" class="btn btn-default">{{'texto.voltar'|translate}}</a>
    </div>
</form>