<h1 class="text-center"> {{'texto.tipoPapel'|translate}}</h1>
<form name="form" ng-submit="salvar()">
    <div class="container">

        <div class="form-group">
            <input type="text" class="form-control" id="descricao" name="descricao" required ng-model="tipoPapel.descricao" maxlength="60">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">{{'texto.salvar'|translate}}</button>
        <a href="#tiposPapel" class="btn btn-default">{{'texto.voltar'|translate}}</a>
    </div>
</form>