<div class="container" data-ng-controller="UsuarioController as vm" data-ng-init="vm.receberToken()">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <legend class="text-muted text-center">{{'texto.alterarSenha'|translate}}</legend>
            <form name="formCadastro" ng-submit="! formCadastro.senha2.$error.unique && vm.confirmarAlteracaoSenha()">
                <div class="form-group ">
                    <label class="control-label" for="senha1">{{'texto.senha'|translate}}:</label>
                    <input autocomplete="off" class="form-control" id="senha1" name="senha1" type="password" ng-model="vm.usuario.senha1" required placeholder="{{'texto.senha'|translate}}">
                </div>
                <div class="form-group" ng-class="{ 'has-error has-feedback': formCadastro.senha2.$error.unique}">
                    <label class="control-label" for="senha2">{{'texto.confirmar'|translate}}:</label>
                    <input autocomplete="off" class="form-control" id="senha2" name="senha2" type="password" ng-model="vm.usuario.senha2" required password-match="vm.usuario.senha1" placeholder="{{'texto.confirmar'|translate}}">
                    <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="formCadastro.senha2.$error.unique"></span>
                </div>

                <div class="controls">
                    <button type="submit" class="btn btn-block btn-primary">{{'texto.salvar'|translate}}</button>
                    <a href="#/autenticacao" class="btn btn-block btn-default">{{'texto.voltar'|translate}}</a>
                </div>
            </form>
        </div>
    </div>
</div>